**/kitti_yolo/**/*.png
**/kitti_yolo/**/*.txt
**/testing/**/*.png
**/training/**/*.txt
**/training/**/*.png
**/jupyter/**/*.zip
*.xlsx
runs/detect/predict/kitti_labels/*
runs/detect/predict/labels/*
# Ignore Python cache folders
*__pycache__
*.ipynb_checkpoints
#ignore notebook files
jupyter/*
*.cache
**/queries/**/*.png

